<div id="container">
  <div class="splash-banner" [ngStyle]="{'background-image': imageURL}">
      <div class="menu-title">{{menuTitle}}</div>
  </div>
  <app-daily-special-item *ngIf="menu.dailySpecial" [item]="menu.dailySpecial"></app-daily-special-item>
  <mat-accordion [displayMode]="'flat'">
      <mat-expansion-panel *ngFor="let category of menu.categories">
          <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
              {{category.descriptor.title}}
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
              <mat-list>
                  <mat-list-item *ngFor="let item of category.menuItems" (click)="showItem(item.descriptor.id)">
                      <app-menu-item [item]="item"></app-menu-item>
                  </mat-list-item>
              </mat-list>
          </ng-template>
      </mat-expansion-panel>
  </mat-accordion>
  <div class="spacer"> </div>
</div>