$tnt-black: (
    50 : #e5e4e4,
    100 : #bebcbb,
    200 : #93908e,
    300 : #686461,
    400 : #47423f,
    500 : #27211d,
    600 : #231d1a,
    700 : #1d1815,
    800 : #171411,
    900 : #0e0b0a,
    A100 : #ffa953,
    A200 : #ff9020,
    A400 : #ec7600,
    A700 : #d36900,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$tnt-yellow: (
    50 : #f8f5eb,
    100 : #eee6cd,
    200 : #e3d6ac,
    300 : #d7c58a,
    400 : #cfb871,
    500 : #c6ac58,
    600 : #c0a550,
    700 : #b99b47,
    800 : #b1923d,
    900 : #a4822d,
    A100 : #fff8e8,
    A200 : #ffe9b5,
    A400 : #ffd982,
    A700 : #ffd268,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$tnt-darkred: (
    50 : #ece6e6,
    100 : #d0c1c2,
    200 : #b19899,
    300 : #926f70,
    400 : #7a5051,
    500 : #633132,
    600 : #5b2c2d,
    700 : #512526,
    800 : #471f1f,
    900 : #351313,
    A100 : #ff7474,
    A200 : #ff4141,
    A400 : #ff0e0e,
    A700 : #f40000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);