$header-large: 64px;
$header-small: 56px;

$primary-dark: #27211d;
$primary-accent: #c6ac58;
$secondary-accent: #633132;
$card-background: #F1F1EB;
$dark-text: #333333;
$med-dark-text: #877E75;
$light-text: #FFFFFF;
$primary-border: #707070;