@import "variables";

:host {
    width: 100%;
}

.container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
        height: auto;
        margin: 0 0 6px;
        padding: 0;
        font-family: league-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        color: $secondary-accent;
    }

    .active, .inactive{
        color: $secondary-accent;
    }

    .inactive {
        opacity: 0.5;
    }
}

h2 {
    height: auto;
    margin: 4px 0;
    span {
        padding: 0;
        font-family: league-gothic, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: $primary-accent;
    }
}

p {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: $dark-text;
}

.price-option {
    &:not(:last-of-type)::after {
        content: "\2022";
    }
}