<mat-toolbar id="container" color="primary">
	<mat-toolbar-row>
		<div class="buttons left">
			<button mat-icon-button (click)="toggleMenu(true)" *ngIf="!loginPage">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
		<button class="buttons logo" *ngIf="loginPage" mat-button>
			<img class="header-logo" src="../../../assets/images/logo-text.svg" />
		</button>
		<button class="buttons logo" *ngIf="!loginPage" mat-button routerLink="/topMenu" (click)="toggleMenu(false)">
			<img class="header-logo" src="../../../assets/images/logo-text.svg" />
		</button>
		<div class="buttons right">
			<!-- <button mat-icon-button routerLink="/order" (click)="toggleMenu(false)">
				<mat-icon aria-label="orderStatus" matBadge="1" matBadgePosition="above after" matBadgeColor="accent"
					[matBadgeHidden]="noOrders()" [ngClass]="{ 'inactive': noOrders() }">
					restaurant
				</mat-icon>
			</button> -->
			<button mat-icon-button routerLink="/tab" (click)="toggleMenu(false)" *ngIf="!loginPage">
				<mat-icon aria-label="tab" [matBadge]="tabItemCount" [matBadgePosition]="'above after'"
					[matBadgeColor]="'accent'" [matBadgeHidden]="noTab()" [ngClass]="{ 'inactive': noTab() }">
					receipt
				</mat-icon>
			</button>
		</div>
	</mat-toolbar-row>
</mat-toolbar>