<div class="container">
    <div class="splash-banner">
        <div class="menu-title">My Mobile Menu</div>
    </div>

    <div id="text-container">
        <h1>About Us</h1>
        <p>
            At My Mobile Menu&trade;, we believe in exceptional dining experiences.
            Our technology aims to compliment the shared experiences of atmosphere, great food,
            and amazing service through an easily accessible, simple app. We partner with
            restaurants to provide a seemless way to connect you with them.
        <br><br>
            Proudly Canadian, our headquarters is located in Calgary, Alberta.
        </p>
    </div>
    <img class="mmm-logo" />

</div>